@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border:none;
    text-decoration: none;
    outline:none;
}
html{
    font-size:60.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: var(--red);
}
html::-webkit-scrollbar-thumb{
    background: wheat;
    border-radius: 3rem;
}

body{

    background-color:#E8EDF2 ;
}
.container{
    height:50rem;
    width:42rem;
    margin:auto;
    margin-top: 10rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color:white;
    padding:30px;
    box-shadow: 0 50px 50px  -50px darkslategray;
    border-radius:2px ;
     

}
.container .myform{
    width:30rem;
}
.container .myform h2{
    color:black;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.container .myform input{
    border: none;
    outline: none;
    border-radius:0;
    width:100%;
    border-bottom: .2rem solid black;
    margin-bottom: 2.5rem;
    padding: 7px 0;
    font-size: 15px;
}
.container .myform button{
    color: white;
    background-color:black;
    border: none;
    outline: none;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    font-weight: 500;
}
.container .image img{
    margin-top: 2rem;
    width:30rem;
   
}